{% extends 'main.html' %}

{% block content %}
<h2 style="text-align: center;">Inbox</h2>
<ul>
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ un_read }}</span>)</h3>
      <ul class="messages">
       {% for message in messages_list %}
        <li {% if message.is_read is False %} class="message message--unread" {% else %} class="message" {% endif %}>
          <a href="{% url 'single-message' message.id %}">
            <span class="message__author">{{ message.sender }}</span>
            <span class="message__subject">{{ message.title }}</span>
            <span class="message__date">{{ message.timestamp }}</span>
          </a>
        </li>
       {% endfor %}
      </ul>
    </div>
  </main>
</ul>
{% endblock content %}
